
*{
	padding:0px;
	margin: 0px;
}

#main{
	height: 600px;
	width: 700px;
	border: 2px solid blue;
	margin: 30px 50px;
}

#navMenu{
	height: 100px;
	width: 650px;
	margin:20px auto;
	border: 2px solid blue;
	
	font-size: 30px;
	text-align: center;
}

#sideBar{
	margin-left: 20px;
	float: left;
	width: 20%;
	height: 300px;
<<<<<<< HEAD
	border: 2 solid darkblue;
	background-color: purple;
	font-size: 30px;
=======
	
	background-color: red;
>>>>>>> fcda04ae532f8fa8662ff3e1216279e69d3b0a0b
	box-sizing: border-box;
	color: pink;
	text-align: center;

}

#body{
	margin-right: 20px;
	float: right;
	width: 70%;
	height: 300px;
	border: 2 solid darkgreen;
	background-color: yellow;
	color: #fff;
	text-align: center;
}

